@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BeFit</h1>
    <p>BeFit is a simple fitness tracking application that helps you manage your workout routine.<?/p>
    <p>Create custom exercise types, log your training sessions, and track your progress over time by linking exercises to your workout sessions.</p>
</div>
